.pond {
	background-color: #1F5768;
	position: relative;
}

.bg-lilypad {
	width: 100px;
	height: 100px;
	position: absolute;
	left: calc(100% - 130px);
	top: calc(18% - 100px);
	transform: rotateZ(-120deg);
	background-repeat: no-repeat;
}

.bg-lilypad-green {
  background-image: url('../images/lilypad-green.svg');
}

.bg-lilypad-yellow { 
  background-image: url('../images/lilypad-yellow.svg');
  transform: rotateZ(45deg);
}

.bg-lilypad-red { 
  background-image: url('../images/lilypad-red.svg');
  transform: rotateZ(90deg);
}

@media (max-width: 991px) {
	.bg-lilypad {
		width: 75px;
		height: 75px;
		left: calc(100% - 100px);
	}

	.bg-lilypad-green {
		background-image: url('../images/lilypad-green_70x70.svg');
	}

	.bg-lilypad-yellow { 
		background-image: url('../images/lilypad-yellow_70x70.svg');
		transform: rotateZ(45deg);
	}

	.bg-lilypad-red { 
		background-image: url('../images/lilypad-red_70x70.svg');
		transform: rotateZ(90deg);
	}
}